/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

:root {
  --global-color-primary-hsl: 350 100% 20%;
  --global-color-primary: #530b0e;
  --global-color-primary-alpha-025: hsla(var(--global-color-primary-hsl), 0.25);
  --global-color-primary-alpha-050: hsla(var(--global-color-primary-hsl), 0.5);

  --global-color-secondary: #f9e9a8;
  --global-color-secondary-alpha-025: hsla(48, 87%, 82%, 0.25);
  --global-color-secondary-alpha-075: hsla(48, 87%, 82%, 0.75);

  --global-color-neutral-1000: #530b0e;
  --global-color-neutral-900: #6d1b1d;
  --global-color-neutral-800: #872a2e;
  --global-color-neutral-700: #a23940;
  --global-color-neutral-600: #bc4852;
  --global-color-neutral-500: #d65764;
  --global-color-neutral-400: #f06676;
  --global-color-neutral-300: #f68888;
  --global-color-neutral-200: #f9a8a8;
  --global-color-neutral-100: #fbc9c9;
  --global-color-neutral-50: #fde9e9;
  --global-color-neutral-25: #fef4f4;
  --global-color-neutral-0: #fff;

  --global-text-color: var(--global-color-secondary);
  --global-text-color-soft: var(--global-color-neutral-200);
  --global-text-color-meta: var(--global-color-neutral-500);
  --global-background-color: #530b0e;
  --global-front-color: var(--global-color-neutral-0);
  --global-accent-color: var(--global-color-primary);
  --global-border-color: var(--global-color-neutral-200);
  --global-border-color-soft: var(--global-color-neutral-100);
  --global-border-color-hard: var(--global-color-neutral-300);

  --global-baseline: 0.5rem;
  --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */
  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: var(--global-baseline); /* = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /* = 16px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4); /* = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace-md) * 2); /* = 48px */
  --global-whitespace-xxl: calc(var(--global-baseline) * 9); /* = 72px */

  --global-border-width: 1px;
  --global-border-radius: 8px;
  --global-border-radius-sm: 6px;
  --global-border-radius-xs: 3px;

  --global-label-color: var(--global-text-color-soft);
  --global-placeholder-color: var(--global-text-color-meta);
  --global-input-color: var(--global-text-color-soft);
  --global-input-background-color: var(--global-color-neutral-900);
  --global-input-border-color: var(--global-color-secondary);
  --global-input-border-color-hover: var(--global-border-color);
  --global-input-border-radius: var(--global-border-radius-sm);
  --global-input-border-width: var(--global-border-width);
  --global-input-border-color-focus: var(--global-accent-color);
  --global-input-box-shadow-focus-color: var(
    --global-color-secondary-alpha-025
  );
  --global-input-box-shadow-focus: 0 0 0 2px
    var(--global-input-box-shadow-focus-color);

  font-family: Georgia, serif;

  --font-size-7xl: 4.5rem; /* 72pt */
  --font-size-6xl: 3.75rem; /* 60pt */
  --font-size-5xl: 3rem; /* 48pt */
  --font-size-4xl: 2.25rem; /* 36pt */
  --font-size-3xl: 1.875rem; /* 30pt */
  --font-size-2xl: 1.5rem; /* 24pt */
  --font-size-xl: 1.25rem; /* 20pt */
  --font-size-lg: 1.125rem; /* 18pt */
  --font-size-base: 1rem; /* 16pt */
  --font-size-sm: 0.875rem; /* 14pt */
  --font-size-xs: 0.75rem; /* 12pt */
  --font-size-xxs: 0.625rem; /* 10pt */
}

@media (prefers-color-scheme: dark) {
  .leaflet-layer,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
  :root {
    /* --global-text-color: var(--global-color-neutral-25);
    --global-text-color-soft: var(--global-color-neutral-300);
    --global-text-color-meta: var(--global-color-neutral-500);
    --global-background-color: var(--global-color-neutral-1000);
    --global-front-color: var(--global-color-neutral-900);
    --global-accent-color: var(--global-color-primary);
    --global-border-color: var(--global-color-neutral-700);
    --global-border-color-soft: var(--global-color-neutral-800);
    --global-border-color-hard: var(--global-color-neutral-600);
    --global-input-box-shadow-focus-color: var(
      --global-color-primary-alpha-050
    ); */
  }
}

/*---------------------------------------/*
   # GENERIC
  /*---------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

/* img {
  display: block;
  max-width: 20%;
  max-height: 20%;
} */

/*---------------------------------------/*
   # ELEMENTS
  /*---------------------------------------*/

/*
      Elements: Page
      ---
      Default markup for page level elements
  */

html {
  font-size: 100%;
  /* line-height: 1.5; */
  /* font-family: "Inter", sans-serif; */
  color: var(--global-text-color);
  scroll-behavior: smooth;
  /* anti aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-background-color);
  /* background-color: hotpink; */
}

/*
      Customize the background color and color to match your design.
  */

::selection {
  background: var(--global-color-neutral-900);
  color: white;
}

/*
      Elements: typography
      ---
      Default markup for typographic elements
  */

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2rem;
  /* margin-bottom: 1.5rem; */
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: var(--global-whitespace-sm);
}

h4,
h5,
h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin-bottom: 0rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 1.375rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

figcaption {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.5rem;
  color: #73858c;
}

hr {
  border: 0;
  height: 1px;
  background: #e3e7e8;
  margin-bottom: 1.5rem;
}

a {
  color: var(--global-color-primary-500);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

a:visited {
  color: var(--global-color-primary-500);
}

a:hover {
  color: var(--global-color-primary-400);
}

a:active {
  color: #1b4186;
}

input,
label {
  display: block;
}

/*
   Object: Button reset
   ---
   Small button reset object
  */

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.o-hide-accessible--radio {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*------------------------------------*\
    #COMPONENTS
  \*------------------------------------*/

/*
      Component: HEADER
  */

.c-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--global-whitespace-lg);
  padding: var(--global-whitespace-lg);
}

.c-header .c-header__title {
  font-weight: 400;
  font-size: var(--font-size-7xl);
  margin: var(--global-whitespace-md) 0;
}

.c-header__swatches {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  gap: var(--global-whitespace-md);
  overflow-x: auto; /* Allow horizontal scroll */
  /* padding: var(--global-whitespace-) 0; */
  scrollbar-width: thin;
  scrollbar-color: var(--global-border-color-soft) transparent; /* Scrollbar color for Firefox */
  max-width: 100%;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

.c-custom-option__label {
  width: 2rem; /* Adjust the width as needed */
  height: 2rem; /* Adjust the height as needed */
  flex: 0 0 auto; /* Prevent the swatches from shrinking or growing */
}

.c-option--hidden:checked + .c-custom-option__label {
  border: 4px solid white;
}

/* Optional: Custom scrollbar styling for WebKit browsers (Chrome, Safari) */
.c-header__swatches::-webkit-scrollbar {
  height: 8px; /* Adjust the height of the scrollbar */
}

.c-header__swatches::-webkit-scrollbar-thumb {
  background-color: var(--global-border-color-soft);
  border-radius: 4px; /* Round the scrollbar thumb */
}

/* Style the select dropdown */

.c-time-filter select {
  background-color: var(--global-input-background-color);
  border: var(--global-input-border-width) solid
    var(--global-input-border-color);
  /* outline: green; */
  border-radius: var(--global-input-border-radius);
  margin-top: var(--global-whitespace-sm);
  padding: 0.5rem; /* Add padding inside the select */
  font-size: var(--font-size-base);
  color: var(--global-text-color);
  width: 100%; /* Make the select take the full width */
  max-width: 300px; /* Optionally set a max-width */
  transition: border-color 0.3s ease;
}

/* Style the select on hover */
.c-time-filter select:hover {
  /* border-color: var(--global-input-border-color-hover); */
}

/* Style the select on focus */
.c-time-filter select:focus {
  /* border-color: var(--global-input-border-color-focus); */
  box-shadow: var(--global-input-box-shadow-focus);
  outline: none;
}

/* Style the select options */
.c-time-filter select option {
  background-color: var(--global-input-background-color);
  color: var(--global-text-color);
}

.c-artwork-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Flexible grid columns */
  grid-auto-rows: 10px; /* Base height for rows */
  gap: var(--global-whitespace-lg); /* Space between grid items */
  padding: var(--global-whitespace-lg);
}

.c-artwork {
  display: flex;
  flex-direction: column;
  break-inside: avoid; /* Prevent items from breaking across columns */
  margin-bottom: var(--global-whitespace-lg);
  grid-row-end: span 10; /* Ensure that grid items take up the appropriate height */
}

/* .c-artwork img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: var(--global-whitespace-xs);
} */

.c-artwork canvas {
  cursor: pointer;
  order: 1;
  width: 100%;
  height: auto;
  object-fit: contain; /* Keep aspect ratio of the images */
  margin-bottom: var(--global-whitespace-xs);
}

.c-artwork-title {
  order: 2;
  color: var(--global-text-color);
  font-size: var(--font-size-lg);
  /* text-align: center; */
}

.c-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--global-whitespace-lg);
  padding: var(--global-whitespace-lg);
}

.c-row--button {
  justify-content: center;
}

.c-button {
  background-color: var(--global-input-background-color);
  padding: var(--global-whitespace-md);
  border-radius: var(--global-input-border-radius);
  border: var(--global-input-border-width) solid
    var(--global-input-border-color);
}

.c-button:hover {
  background-color: var(--global-color-primary-alpha-025);
}

.c-button:focus {
  background-color: var(--global-color-primary-alpha-050);
  outline: none;
  box-shadow: var(--global-input-box-shadow-focus);
}
.c-modal.hidden {
  display: none;
}

.c-modal.visible {
  /* position: absolute; */
  overflow-y: scroll;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: column;
  transition: all 0.5s ease;
  width: 100%;
  /* background: var(--global-background-color); */
  color: var(--global-text-color);
  padding: var(--global-whitespace-md);
  border-radius: var(--global-border-radius);
  max-width: 50vw;
  text-align: left;
  display: flex;
  gap: var(--global-whitespace-lg);
}

.modal-img canvas {
  width: 300px;
  /* height: auto; */
  border-radius: 8px;
}

.modal-details canvas {
  width: 300px;
  /* width: 10rem; */
  /* height: auto; */
  border-radius: 8px;
}

/* .modal-details {
  width: 100%;
} */

.modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-details h2 {
  font-size: var(--font-size-3xl);
  margin-bottom: var(--global-whitespace-md);
}

.modal-details p {
  font-size: var(--font-size-base);
  margin-bottom: var(--global-whitespace-sm);
}

.modal-details p:first-of-type {
  font-weight: bold;
}

.modal-details p:last-of-type {
  color: var(--global-color-secondary-alpha-075);
}

.c-footer {
  background-color: var(
    --global-color-primary
  ); /* Of een andere kleur naar keuze */
  color: var(--global-color-neutral-0); /* Witte tekst */
  text-align: center;
  padding: var(--global-whitespace-lg) var(--global-whitespace-md);
  margin-top: var(--global-whitespace-xl);
  color: var(--global-color-secondary);
}

.c-footer a {
  text-decoration: underline;
}

.c-footer a:hover {
  color: var(--global-color-secondary-alpha-075); /* Linkkleur bij hover */
}

@media (min-width: 768px) {
  .c-header__swatches {
    order: 3;
  }
  .modal-content {
    flex-flow: row;
  }
}
